/* CSS TRICKS Flex Box */

@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Orbitron:400,500);
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
}

body header h1 {
  font-size: 55px;
  font-family: 'Orbitron', sans-serif;
}
body article p {
    font-family: 'Orbitron', sans-serif;
}
#vote {
  margin: -740px 0px 0px 490px;
  font-family: 'Orbitron', sans-serif;
  font-size: 34px;
  font-style: bold;
  width: 220px;
  height: 220px;
  background: #333F41;
  display: flex;

}
#vote:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
  background: #F3ECE1;
  font-size: 20px;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: #8D9EA8;
}

.footer {
  background: #847f5b;
}

.main {
  text-align: left;
  background: #D6C8AB;
}

.aside-1 {
  background: #333F41;
}

.aside-2 {
  background: #333F41;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .center  { order: 3; }
  .aside-2 { order: 4; }
  .footer  { order: 5; }
}

body {
  padding: 2em;
  background-color: #F3ECE1;
}

#temp1:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
  background: #F3ECE1;
}


#temp2:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
  background: #F3ECE1;
}
body aside div p {
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
}
#photo2name {
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
}

/* Overlay code here */
#overlay {
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}
#overlay img {
  margin-top: 10%;
}
#overlay p {
  color: #3825B8;
}
